@font-face {
    font-family: "pobeda"; //кириллица, латиница
    src: url("fonts/Pobeda-Regular.woff2") format("woff2"),
         url("fonts/Pobeda-Regular.woff") format("woff")
}
@font-face {
    font-family: "samba"; // латиница
    src: url("fonts/Samba.woff2") format("woff2"),
         url("fonts/Samba.woff") format("woff")
}